@media(min-width: 768px) {
.text{
    text-align: center;
    background: rgb(179, 124, 52);
    color: white;
    padding: 30px;
    width: 70%;
    height: 100px;
    overflow: auto;
    border: 1px solid #ccc;
    margin-left: 3pc;
}
 .desc{
    width: 50%;
    height: 10pc;
    overflow: auto;
}
}
@media (max-width: 768px){
    .text{
        text-align: center;
        background: rgb(179, 124, 52);
        color: white;
        padding: 30px;
        width: 70%;
        height: 100px;
        overflow: auto;
        margin-left: 2pc;
        border: 1px solid #ccc;
    } 
}
.desc{
    overflow: auto;
    width:50%;
    height: 10pc;
}